.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 9vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.movieDetailsModalHeader {
	background-color: #e8dcc4;
}

.movieDetailsModalBody {
	background-color: #d8ccc4;
}

.panelBtn {
	width: 180px;
	height: 50px;
	margin: 3px;
}

.panelInput {
	width: 45px;
}

.panelOption {
	width: 100%;
	height: 45px;
	margin: 0.75em 0;

}

.star-div {
	height: 27px;
	justify-content: center;
	align-content: center;
	margin: 0 auto;
	padding-top: 25%;
	display: none;
}

.star-div-rated {
	height: 27px;
	justify-content: center;
	align-content: center;
	margin: 0 auto;
	padding-top: 25%;
	display: visible;
}

.removeItem {
	position: absolute;
	top: 0;
	right: 0;
	color: #282c34;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 13px;
	cursor: pointer;
}

.removeItem Button {
	color: white;
	background-color: #0009;
	border-radius: 1em;
	z-index: 99;
}

.infoButton {
	position: absolute;
	top: 0;
	right: 0;
	color: #282c34;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 13px;
	cursor: pointer;
}

.infoButton Button {
	color: white;
	background-color: #0009;
	border-radius: 1em;
	z-index: 99;
}

.hideElement {
	display: none;
}

p .inlineEmph {
	display: inline;
	margin: 0 0.2em;
	font-weight: bold;
	color: #000;
	font-style: italic;
	text-decoration: underline;
}


/* Jumbotron - Header and Footer */
.jumbotron {
	padding: 1em 1rem;
	margin-bottom: 0.5rem;
	margin-top: 1.5rem;
	background-color: #e9ecef;
	border-radius: 0.3rem;
}

.jumbotron-footer {
	float: right;
	width: 100%;
}

.footer-btn {
	float: right;
}

/* Welcome Page */
.instructionblurb {
	text-align: left;
}

.modal-80w {
	max-width: 80%;
	margin: 1.75rem auto;
}

/* Informed Consent Dialog */
p.informedConsent-title {
	margin-bottom: 9px;
	font-weight: 700;
	text-transform: uppercase;
}

p.informedConsent-text {
	margin-bottom: 0;
	font-weight: 300;
}

.informedConsent-bold {
	margin-bottom: 0;
	font-weight: 500;
}

/* Button variants - theming */
.btn-ers {
	background-color: #f9b05c;
	font-weight: 400;
	color: #4a4b4b;
}

.btn-ers:hover {
	background-color: #d9903c;
	color: #4a4b4b;
}

.btn-ers:disabled {
	background-color: #c0c0c0;
	color: #4a4b4b;
	border-width: 0;
}

.btn-ers-disabled {
	background-color: #c0c0c0ee;
	color: #4a4b4b;
	border-width: 0;
	cursor: default;
}

.btn-ers-disabled:hover {
	background-color: #c0c0c0ee;
	color: #4a4b4b;
	border-width: 0;
	cursor: default;
}

.btn-ers-disabled:active {
	background-color: #c0c0c0ee !important;
	color: #4a4b4b !important;
	border-width: 0 !important;
	cursor: default !important;
}

.btn-ers-disabled:focus-visible {
	background-color: #c0c0c0ee;
	color: #4a4b4b;
	border-width: 0;
	cursor: default;
}

.btn-lg {
	padding: 0.75rem 1rem;
	font-size: 1rem;
	font-size: large;
}

.btn-ersDone {
	background-color: #39e04c;
	font-weight: 400;
	color: #4a4b4b;
	border: solid #19cf2c 1px;
}

.btn-ersDone:hover {
	background-color: #11af11;
	color: #f0f0f0;
}

.btn-ersDone:disabled {
	background-color: #c0c0c0;
	color: #4a4b4b;
	border-width: 0;
}

.btn-ersDone:active {
	background-color: #5cbf5c ! important;
	color: #4a4b4b;
	border-width: 0;
}

.btn-ersCancel {
	background-color: #c9ccd5;
	border-color: #c9ccd5;
}

.btn-ersCancel:hover {
	background-color: #8b8b8b;
	border-color: #8b8b8b;
}

.btn-ersCancel:disabled {
	background-color: #c0c0c0;
	color: #4a4b4b;
	border-width: 0;
}

.btn-ersCancel:active {
	background-color: #8b8b8b ! important;
	color: #4a4b4b;
	border-width: 0;
}

/* Study Overview Page */
.overviewCard {
	height: 18em;
}

/* Survey Page */
.survey-question-block {
	padding: 0 9px 0 9px;
	border-left-width: 3px;
	border-left: darkgray;
	border-left-color: darkgray;
	border-left-style: solid;
	margin: 9px auto 0 auto;
	width: 720px;
	text-align: left;
}

.survey-question-block:nth-child(even) {
	background: linear-gradient(0.25turn, #f2f2f2bb, #f2f2f299, white);
}

.survey-question-block-responded {
	padding: 0 9px 0 9px;
	border-left-width: 3px;
	border-left: green;
	border-left-color: green;
	border-left-style: solid;
	margin: 9px auto 0 auto;
	width: 720px;
	text-align: left;
}


.survey-question-block-unanswered {
	padding: 0 9px 0 9px;
	border-left-width: 3px;
	border-left: red;
	border-left-color: red;
	border-left-style: solid;
	margin: 9px auto 0 auto;
	width: 720px;
	text-align: left;
}

.survey-question-block:nth-child(even) {
	background: linear-gradient(0.25turn, #f2f2f2bb, #f2f2f299, white);
}

.surveyQuestionText {
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

.surveyQuestion {
	margin: 3px 0 0 3px;
}

.radio-margin {
	margin: auto;
	margin-bottom: 3px;
}

.movieSurvey.surveyQuestion {
	margin: 0px 0 0 3px;
}

.checkboxgroup {
	display: inline-block;
	text-align: center;
}

.checkboxGroup {
	display: inline-flex;
}

.checkboxBtn {
	cursor: pointer;
	padding: 3px;
	background-color: #e0e0e0;
	border-color: #707070;
	color: #4a4b4b;
	margin: 0 9px 3px 9px;
	border-radius: 3px;
	height: 45px;
	width: 90px;
	display: inline-flex;
}

.checkboxBtn input[type="radio"] {
	visibility: hidden;
	width: 0;
	height: 0;
	margin: 0;
}

.checkboxBtn:hover {
	background-color: #f9b05c;
	color: #4a4b4b;
}

.checkboxBtn:checked {
	background-color: #f9b05c;
	color: #4a4b4b;
}

.checkboxBtnChecked {
	background-color: #f9b05c;
	color: #4a4b4b;
}

.checkboxLbl {
	font-size: 0.8rem;
	text-align: center;
	margin: auto;
}